body{
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}
.header{
    
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(38, 33, 33);
    opacity: 1;
    color: white;
}
.header>h2{
    padding-left: 10px;
}
.right{
    
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    padding-right: 20px;
}
.cart-btn{
    background-color: rebeccapurple;
    height: 30px;
    width: 70px;
    border: 1px solid transparent;
    color: white;
    font-size: 1em;
}
#btn1,#btn2,#btn0{
    color: white;
    height: 30px;
    width: 70px;
    border: 1px solid transparent;
    background-color: inherit;
    font-size: 1em;
    font-weight: 500;
    padding: 5px;
}
#btn2{
    width: 100px;
}
#btn1:hover,#btn2:hover,#btn0:hover{border: 1px solid white}
.lesson-comp{
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    padding: 5px;
    padding-bottom: 20px;
    font-size: 1em;
    box-shadow:1px 1px 5px 5px #c5c2c2;;
    height: max-content;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

#add-btn{
    background-color: rgb(34,187,51);
    color: white;
    padding: 5px;
    border: none;
    font-size: 1em;
}
#remove-btn{
    background-color: rgb(242, 52, 52);
    color: white;
    padding: 5px;
    border: none;
    font-size: 1em;
}
#add-btn:hover,#remove-btn:hover{
    background-color: rgb(240, 165, 27);
    color: black;
}
.lessons{
    width: 200px;
    
}
.lesson-container{
   /* border: 1px solid red; */
   width: 70%;
   display: flex;
   flex-wrap: wrap;
   margin: 50px auto;
   justify-content: space-evenly;
}
#empty-img{
   border: 1px solid black;
   height: auto;
   width: 30vw;
   overflow: hidden;
}
#empty-img>img{
  width: 90%;
}